/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 20px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.content {
    width: 100%;
}

button {
    margin: 20px 0px 20px 0px;
}

.mongo-express {
    margin-bottom: 10%;
}

td {
    vertical-align: middle!important;
    padding-top:0px!important;
    padding-bottom:0px!important;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}